# Allow read access to /sys/block/mmcblk0/stat or /sys/block/sda/stat.
# Implementations typically have symlinks to vendor specific files.
# Vendors should mark sysfs_disk_stat on all files read by storaged.
r_dir_file(storaged, sysfs_disk_stat)

